 body {
     background-image: url(/img/background/back7.jpg)
 }


 .description {
     text-align: center;
     height: 200px;
     border: solid 2px black;
     background-color: #dee2e6;

 }

 .choises {
     height: 200px;
     border: solid 2px black;
     background-color: #dee2e6;
 }

 .upper{
     height: 80px;
 }

